faster-whisper==1.2.0
stable-ts[fw]
torch>=2.1.1 
gradio>=5.9.1
click>=8.1.7
pysrt>=1.1.2
deep_translator==1.11.4
CTranslate2==4.5.0 #for colab
#ctranslate2==4.4.0 
#ctranslate2==3.24.0 #for local cuda 11
#ctranslate2==4.6.0 # for huggingface 
